* {
	box-sizing: border-box;
}

#title {
	text-align: center;
	color: #78644D;
	font-family: "HelveticaNeue-Light";
	font-weight: 100;
	font-size: 60px;
}
.myreads {
	height: 600px;
	width: 400px;
	border-radius: 10px;
	background-color: grey;
	margin: 0 auto;
	margin-top: 30px;
}

.myreads-item {
	border-top: 1px solid white;
	box-shadow: 0 1px 0 gray inset;  
	width: 100%;
	vertical-align: middle;
	-webkit-transition: height .3s;
}

.myreads-item:first-child {
	border: none;
	box-shadow: none;
	height: 30%;

}

.selected {
	height: 30%;
}

.book-title {
	pointer-events: none;
	margin: 0 0 0 10px;
	padding: 0 0;
	white-space: nowrap;
  	overflow: hidden;
  	width: 300px;
  	font-family: "HelveticaNeue-Light";
}

.author {
	overflow: hidden;
	pointer-events: none;
	margin: 0 0 0 10px;
	padding: 0 0;
	opacity: 0;
	display: none;
	font-family:  "HelveticaNeue-Light";
}

.rating {
	margin: 0 0 0 10px;
	padding: 0 0;
	pointer-events: none;
	font-weight: 100;
	font-size: 18px;
	color: gold;
	display: none;
	opacity: 0;
	overflow: hidden;
}


.cover {
	overflow: hidden;
	border-radius: 5px;
	margin: 20px 5px 0 10px;
	height: 0px;
	width: 0px;
	float: left;
	pointer-events: none;
	opacity: 0;
	display: inline;
}

.info-container {
	position: relative;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
}